process {
    withName: '.*CONCAT_SORT_UPD:.*' {
        publishDir = [enabled: false]
    }
    withName: '.*CONCAT_SORT_UPD:BCFTOOLS_CONCAT' {
        ext.prefix = { "${meta.id}_upd_concat" }
        ext.args   = '--allow-overlaps --output-type b'
    }
    withName: '.*CONCAT_SORT_UPD:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_upd_concat_sorted" }
        ext.args   = '--output-type z --write-index=tbi'
    }
    withName: '.*CALL_UPD:CONVERT_UPD_BCF' {
        publishDir = [enabled: false]
        ext.prefix = { "${meta.id}_upd_af" }
        ext.args   = '--output-type z --write-index=tbi'
    }
    withName: '.*CALL_UPD:UPD_REGIONS' {
        ext.prefix = { "${meta.id}.upd.regions" }
        ext.args   = {
            "--proband ${meta.id} --mother ${meta.mother} --father ${meta.father} --af-tag ${params.upd_af_tag} regions"
        }
        publishDir = [
            path: { "${params.outdir}/upd/${meta.family_id}/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*CALL_UPD:UPD_SITES' {
        ext.prefix = { "${meta.id}.upd.sites" }
        ext.args   = {
            "--proband ${meta.id} --mother ${meta.mother} --father ${meta.father} --af-tag ${params.upd_af_tag} sites"
        }
        publishDir = [
            path: { "${params.outdir}/upd/${meta.family_id}/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
}
